<div class="table-responsive">
    <hr />
    <a class="btn btn-sm btn-info" href="@Url.Action("Create","Reviews")">Add review score</a>
    <hr />
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Score</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="reviews-tbody"></tbody>
    </table>
</div>
<!-- /.table-responsive -->

@section scripts{
    <script type="text/javascript">
        $.ajax({
            url: 'https://localhost:44390/api/reviews/search',
            method: 'GET',
            success: function (result)
            {
                result.sort(function (a, b) { return a.Score - b.Score });

                for (var i = 0; i < result.length; i++)
                {
                    var newRow = "<tr><td><a href='/Reviews/Details?id=" + result[i].Id + "'>" + result[i].Score + "</a></td><td><button class='btn btn-default delete' data-id='" + result[i].Id + "'>Delete</button></td></tr>";
                    $("#reviews-tbody").append(newRow);
                }

                $('.delete').click(function ()
                {
                    //click event body

                    var id = $(this).data('id');
                    var tr = $(this).parent().parent();

                    $.ajax({
                        url: 'https://localhost:44390/api/reviews/' + id,
                        method: 'DELETE',
                        success: function ()
                        {
                            tr.hide('slow', function ()
                            {
                                tr.remove();
                            })
                        },
                        error: function (err)
                        {
                            alert('delete error');
                        }
                    })
                });
            },
            error: function (err)
            {
                alert('error');
            }
        })
    </script>
}